/* Reset styles to default */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul { list-style: none; }

a { text-decoration: none; }

/* Variables */
:root {
  /* Different levels of dark color */
  --dark1: #000000;
  --dark2: #0e0e0e;
  /* Different levels of grey color */
  --grey1: #808080;
  --grey2: #616161;
  /* Different levels of white color */
  --white1: #ffffff;
  --white2: #eeeeee;
  /* Different levels of gold color */
  --gold1: #ffd900;
  --gold2: #ac9200;
  --gold3: #7e6b00;
  /* Default number values */
  --navHeight: 80px;
  --mobileFontSizeSmall: 14px;
}

/* General */
body {
  font-family: 'Open Sans', sans-serif;
  color: var(--white1);
  background-color: var(--dark1);
}

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track { background-color: var(--dark1); }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--gold2);
}

::-webkit-scrollbar-thumb:hover { background-color: var(--gold1); }

/* >>> Nav <<< */

/* mobile */
nav {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: var(--navHeight);
  padding: 20px;
  display: -moz-flexbox;
   display: -webkit-box;
   display: -ms-flexbox;
    display: -o-flexbox;
          display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
     -ms-flex-align: center;
      -o-flex-align: center;
        align-items: center;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-box-pack: justify;
       -o-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: var(--dark1);
}

.logo {
  font-size: 5vw;
  font-weight: bold;
  text-transform: uppercase;
}

.logoBright { color: var(--gold1); }

.logoDark {
  color: var(--gold2);
  margin-left: 5px;
}

.hamburger {
  display: -moz-flexbox;
   display: -webkit-box;
   display: -ms-flexbox;
    display: -o-flexbox;
          display: flex;
  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
      -ms-box-orient: vertical;
       -o-box-orient: vertical;
  -webkit-box-direction: normal;
    -moz-flex-direction: column;
     -ms-flex-direction: column;
      -o-flex-direction: column;
         flex-direction: column;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
     -ms-flex-pack: justify;
      -o-flex-pack: justify;
  justify-content: space-between;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.hamburger > span {
  height: 4px;
  border-radius: 5px;
  background-color: var(--gold1);
}

@media (max-width: 767px) {
  .links {
    display: none;
    position: fixed;
    top: var(--navHeight);
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--white1);
  }
}

li {
  padding: 20px;
  border-bottom: 1px solid var(--white2);
}

.links a {
  font-size: 4vw;
  font-weight: bold;
  color: var(--grey1);
  transition: color 0.25s ease-in-out;
}

.links a:hover { color: var(--dark1); }

@media (max-width: 250px) {
  .logo { font-size: 8vw; }

  .logo > span { display: block; }

  .logoDark { margin-left: 0px; }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo { font-size: 1rem; }

  ul {
    display: -webkit-box;
    display: -mox-flexbox;
     display: -ms-flexbox;
      display: -o-flexbox;
            display: flex;
  }
  
  li { border-bottom: none; }
  
  .links a {
    font-size: 1rem;
    color: var(--gold2);
    transition: color 0.25s ease-in-out;
  }
  
  .links a:hover { color: var(--gold1); }

  .hamburger { display: none; }
}

/* desktop */
@media (min-width: 1024px) {
  nav { justify-content: space-around; }

  .logo { font-size: 1.75rem; }

  ul {
    display: -webkit-box;
    display: -mox-flexbox;
     display: -ms-flexbox;
      display: -o-flexbox;
            display: flex;
  }
  
  li { border-bottom: none; }
  
  .links a {
    font-size: 1rem;
    color: var(--gold2);
    transition: color 0.25s ease-in-out;
  }
  
  .links a:hover { color: var(--gold1); }

  .hamburger { display: none; }
}

/* >>> Header <<< */

header {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--navHeight));
}

header > video,
header > section { position: absolute; }

header > video {
  width: 100%;
  height: 100%;
  -webkit-object-fit: cover;
     -moz-object-fit: cover;
      -ms-object-fit: cover;
       -o-object-fit: cover;
          object-fit: cover;
  -webkit-filter: brightness(40%);
     -moz-filter: brightness(40%);
      -ms-filter: brightness(40%);
       -o-filter: brightness(40%);
          filter: brightness(40%);
}

header > section {
  display: -webkit-box;
  display: -ms-flexbox;
         display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
   justify-content: center;
  height: 300px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

header > section { padding: 50px; }

header > section > p {
  font-size: 3vw;
  color: var(--gold1);
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

header > section > a {
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 3vw;
  border: 2px solid var(--gold1);
  color: var(--gold1);
  font-weight: bold;
  -webkit-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

header > section > a:hover {
  background-color: var(--gold1);
  color: var(--dark1);
}

/* tablet and desktop */
@media (min-width: 768px) {
  header { height: calc(800px - var(--navHeight)); }

  header > section > p { font-size: 1.5rem; }

  header > section > a { font-size: 1rem; }
}

/* >>> About us <<< */

/* Mobile */
.aboutUs {
  display: flex;
  justify-content: center;
  padding: 50px 25px;
  background-color: var(--dark1);
}

.aboutUsContent h2,
.aboutUsContent h3,
.aboutUsContent p { margin-bottom: 20px; }

.aboutUsContent h2 { color: var(--gold1); }

.aboutUsContent h3 { color: var(--gold2); }

.aboutUs h2,
.aboutUs h3 { font-size: 18px; }

.aboutUs p {
  text-align: justify;
  color: var(--gold3);
  font-size: 16px;
}

/* Desktop */
@media (min-width: 1024px) {
  .aboutUsContent { width: 960px }
}

/* >>> Cooperation And Sponsors <<< */

/* tablet and desktop */
@media (min-width: 768px) {
  .cooperationAndSponsors {
    display: flex;
    height: 400px;
  }

  .cooperationAndSponsors > * { flex: 1; }
}

/* >>> Cooperation <<< */

/* Mobile, Tablet and Desktop */
.cooperation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/backgrounds/car-mechanic.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.cooperationShadow {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
}

.cooperationShadow h2,
.cooperationShadow h3,
.cooperationShadow li { font-size: 20px; }

.cooperationShadow h2,
.cooperationShadow h3 { color: var(--gold1); }

.cooperationShadow h3 { margin-bottom: 10px; }

.cooperationShadow li {
  font-size: 16px;
  font-weight: bold;
  color: var(--gold1);
  text-align: center;
}

/* >>> Sponsors <<< */

/* Mobile, Tablet and Desktop */
.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: var(--dark1);
}

.sponsors h3 { font-size: 20px; }

.sponsors h2,
.sponsors h3 { color: var(--gold1); }

.sponsors h2 { margin-bottom: 10px; }

.sponsors li {
  font-weight: bold;
  color: var(--gold1);
  text-align: center;
}

/* >>> Footer <<< */

/* Mobile */
footer { background-color: var(--dark1); }

.footerMap > iframe {
  width: 100%;
  height: 50vh;
  filter: invert(90%);
}

.footerContent { padding: 50px 25px; }

.footerMenu, .footerContact { margin-bottom: 50px; }

.footerContact span { color: var(--gold1); }

.footerMenu > ul { margin-bottom: 25px; }

.footerContent h2 {
  font-size: 18px;
  color: var(--gold1);
  margin-bottom: 10px;
}

.footerContent li {
  font-size: 16px;
  color: var(--gold3);
  margin-bottom: 5px;
}

.footerContent p {
  font-size: 16px;
  color: var(--gold3);
  margin-bottom: 5px;
}

.footerContent a {
  color: var(--gold3);
  font-size: 16px;
  transition: color .5s ease-in-out;
}

.footerContent a:hover { color: var(--gold1); }

.footerSocialMedia ul { display: flex; }

.footerSocialMedia img {
  width: 10vw;
  height: 10vw;
  margin-right: 5px;
}

.footerCopyright > p {
  padding: 20px;
  font-size: 16px;
  text-align: center;
  color: var(--gold2);
  font-weight: bold;
  font-size: var(--mobileFontSizeSmall);
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  .footerContent {
    display: flex;
    justify-content: center;
  }

  .footerMenu, .footerContact { margin-right: 50px; }

  .footerContact span { display: block; }

  .footerContent img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
}