/* Variables */
:root {
  /* Sizes */
  --navHeight: 60px;
  /* Gold colors */
  --gold1: #ffd900;
  --gold2: #b19600;
  --gold3: #847000;
  /* White colors */
  --white1: #ffffff;
  --white2: #ebebeb;
  /* Black colors */
  --black1: #000000;
  --black2: #111111;
  --blackNoOpacity: rgba(0, 0, 0, 0.85);
  /* Grey colors */
  --grey1: #646464;
  --grey2: #d3d3d3;
}

/* ### Reset ### */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul { list-style-type: none; }

a { text-decoration-line: none; }

/* ### General ### */
body {
  color: var(--white1);
  font-family: 'Lato', sans-serif;
}

main { margin-top: var(--navHeight); }

/* ### Nav ### */
nav {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: var(--navHeight);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black1);
}

#navLogo {
  text-transform: uppercase;
  color: var(--gold1);
}

#navLogo > span {
  color: var(--gold2);
  margin-left: 5px;
}

#navLinks {
  transform: translateX(-100vw);
  position: fixed;
  top: var(--navHeight);
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  background-color: var(--white1);
}

#navLinks > li {
  padding: 15px;
  border-bottom: 1px solid var(--white2);
}

#navLinks > li > a { color: var(--grey1); }

#navHamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 20px;
}

#navHamburgerTopBar,
#navHamburgerMiddleBar,
#navHamburgerBottomBar {
  height: 3px;
  border-radius: 5px;
  background-color: var(--gold1);
}

/* Nav Mobile Animations */
@keyframes navListClose { from { transform: translateX(0vw); } to { transform: translateX(-100vw); } }
@keyframes navHamburgerTopBarClose { from { transform: translateY(9px) rotate(45deg); } to { transform: translateY(0px) rotate(0deg); } }
@keyframes navHamburgerMiddleBarClose { from { transform: translateX(100vw); } to { transform: translateX(0vw); } }
@keyframes navHamburgerBottomBarClose { from { transform: translateY(-8px) rotate(-45deg); } to { transform: translateY(0px) rotate(0deg); } }

@keyframes navListOpen { from { transform: translateX(-100vw); } to { transform: translateX(0vw); } }
@keyframes navHamburgerTopBarOpen { from { transform: translateY(0px) rotate(0deg); } to { transform: translateY(9px) rotate(45deg); } }
@keyframes navHamburgerMiddleBarOpen { from { transform: translateX(0vw); } to { transform: translateX(100vw); } }
@keyframes navHamburgerBottomBarOpen { from { transform: translateY(0px) rotate(0deg); } to { transform: translateY(-8px) rotate(-45deg); } }

@media (min-width: 161px) and (max-width: 300px) {
  nav { padding: 10px; }

  #navLogo > span {
    margin-left: 0px;
    display: block;
  }
}

@media (max-width: 160px) {
  nav { padding: 5px; }

  #navLogo { font-size: 10vw; }

  #navLogo > span {
    margin-left: 0px;
    display: block;
  }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  #navLinks {
    display: flex;
    position: relative;
    top: 0px;
    bottom: 0px;
    background-color: inherit;
    transform: translateX(0px);
  }
  
  #navLinks > li {
    padding: 10px;
    border-bottom: none;
  }
  
  #navLinks > li > a {
    color: var(--gold2);
    transition: color 0.5s ease-in-out;
  }
  
  #navLinks > li > a:hover { color: var(--gold1); }

  #navHamburger { display: none; }
}

/* Desktop */
@media (min-width: 1024px) {
  nav { justify-content: space-around; }

  #navLogo { font-size: 1.5rem; }
}

/* ### Header ### */
header {
  width: 100%;
  height: calc(100vh - var(--navHeight));
  background-image: url('assets/backgrounds/porsche.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.headerContent {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--blackNoOpacity);
}

.headerSection {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerSection > h2,
.headerSection > h3,
.headerSection > a {
  text-align: center;
  color: var(--gold1);
  font-size: 1rem;
}

.headerSection > h2 { margin-bottom: 5px; }

.headerSection > h3 { margin-bottom: 30px; }

.headerSection > a {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid var(--gold1);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.headerSection > a:hover {
  background-color: var(--gold1);
  color: var(--black1);
}

@media (max-width: 768px) and (max-height: 300px){
  header { height: calc(800px - var(--navHeight)); }
}

@media (max-width: 320px) {
  .headerSection {
    bottom: 10vw;
  }
  
  .headerSection > h2,
  .headerSection > h3,
  .headerSection > a {
    font-size: 5vw;
  }
  
  .headerSection > h2 { margin-bottom: 5vw; }
  
  .headerSection > h3 { margin-bottom: 10vw; }
  
  .headerSection > a {
    padding: 5vw 10vw;
    border-radius: 3vw;
    border: 2vw solid var(--gold1);
  }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  header { height: calc(800px - var(--navHeight)); }

  .headerSection > h2 { font-size: 2rem; }

  .headerSection > h3 { font-size: 1.5rem; }

  .headerSection > a { font-size: 1.25rem; }
}

/* >>> Why Choose Us <<< */
.whyChooseUs {
  background-image: url('assets/backgrounds/bmw.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.whyChooseUsShadow {
  padding: 100px 50px;
  text-align: center;
  background-color: var(--blackNoOpacity);
}

.whyChooseUsContent > h2 {
  color: var(--gold1);
  margin-bottom: 20px;
}

.whyChooseUsElement { margin-top: 50px; }

.whyChooseUsElement > span {
  color: var(--gold1);
  font-size: 3rem;
  margin-bottom: 10px;
}

.whyChooseUsElement > h3 {
  color: var(--gold1);
  margin-bottom: 10px;
}

.whyChooseUsElement > p { color: var(--gold2); }

@media (max-width: 360px) {
  .whyChooseUsShadow { padding: 20vw 10vw; }
  
  .whyChooseUsContent > h2 {
    font-size: 5vw;
    margin-bottom: 10vw;
  }
  
  .whyChooseUsElement { margin-top: 5vw; }
  
  .whyChooseUsElement > span {
    font-size: 10vw;
    margin-bottom: 2vw;
  }
  
  .whyChooseUsElement > h3 {
    margin-bottom: 2vw;
    font-size: 4vw;
  }
  
  .whyChooseUsElement > p { font-size: 4vw; }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .whyChooseUsElements {
    display: flex;
    flex-wrap: wrap;
  }

  .whyChooseUsElement {
    margin: 50px;
    flex: calc(50% - 100px);
  }
}

/* Desktop */
@media (min-width: 1023px) {
  .whyChooseUsShadow {
    display: flex;
    justify-content: center;
  }

  .whyChooseUsContent {
    width: 960px;
  }

  .whyChooseUsElements {
    display: flex;
  }

  .whyChooseUsElement {
    flex: calc(25% - 50px);
    margin: 25px;
  }
}

/* >>> About us <<< */
.aboutUs {
  padding: 100px 50px;
  background-color: var(--black2);
}

.aboutUsContent > h2 { color: var(--gold1); }

.aboutUsContent > h3 { color: var(--gold2); }

.aboutUsContent > p { color: var(--gold3); }

.aboutUsContent > h3,
.aboutUsContent > p { margin-top: 10px; }

@media (max-width: 360px) {
  .aboutUs { padding: 10vw; }
  
  .aboutUsContent > h2,
  .aboutUsContent > h3,
  .aboutUsContent > p { font-size: 4vw; }

  .aboutUsContent > h3,
  .aboutUsContent > p { margin-top: 5vw; }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  .aboutUs {
    display: flex;
    justify-content: center;
  }

  .aboutUsContent { width: 960px; }
}

/* ### Video ### */
.video {
  display: flex;
  justify-content: center;
  background-color: var(--grey2);
  padding: 50px;
}

@media (max-width: 320px) {  
  .video {
    padding: 0px;
  }

  .video > iframe {
    width: 100%;
    height: 100%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .video > iframe {
    width: 768px;
    height: 480px;
  }
}

/* Desktop */
@media (min-width: 1023px) {
  .video > iframe {
    width: 960px;
    height: 720px;
  }
}

/* >>> Cooperation And Sponsors <<< */

/* Tablet and Desktop */
@media (min-width: 768px) {
  .cooperationAndSponsors {
    display: flex;
    height: 300px;
  }

  .cooperationAndSponsors > .cooperation,
  .cooperationAndSponsors > .sponsors { flex: 1; }
}

/* >>> Cooperation <<< */
.cooperationContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: var(--black2);
}

.cooperationContent > h2 {
  color: var(--gold2);
  margin-bottom: 10px;
}

.cooperationContent > ul > li {
  color: var(--gold2);
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 360px) {
  .cooperationContent { padding: 10vw; }
  
  .cooperationContent > h2 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }
  
  .cooperationContent > ul > li {
    margin-top: 2vw;
    font-size: 3vw;
  }
}

/* >>> Sponsors <<< */
.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: var(--gold3);
}

.sponsors h2 {
  color: var(--white1);
  margin-bottom: 10px;
}

.sponsors > ul > li {
  color: var(--white1);
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 360px) {
  .sponsors { padding: 10vw; }
  
  .sponsors h2 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }
  
  .sponsors > ul > li {
    margin-top: 2vw;
    font-size: 3vw;
  }
}

/* >>> Footer <<< */
footer { background-color: var(--black1); }

.footerMap > iframe {
  width: 100%;
  height: 50vh;
  filter: invert(90%);
  margin-bottom: -5px;
}

.footerSocialMedia { display: flex; }

.footerSocialMedia > a {
  flex: 1;
  text-align: center;
  color: var(--white1);
  padding: 20px;
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out;
}

.footerSocialMedia > a:hover { opacity: 1; }

.facebook { background-color: #3b5998; }

.instagram { background-color:  #8a3ab9; }

.footerContent { padding: 50px; }

.footerMenu,
.footerContact { margin-bottom: 50px; }

.footerContent h2 {
  color: var(--gold1);
  margin-bottom: 10px;
}

.footerContent li {
  color: var(--gold3);
  margin-bottom: 5px;
}

.footerContent li > span {
  display: block;
  color: var(--gold2);
  font-weight: bold;
}

.footerContent a {
  color: var(--gold3);
  transition: color .5s ease-in-out;
}

.footerContent a:hover { color: var(--gold1); }

.footerCopyright > p {
  padding: 20px;
  text-align: center;
  color: var(--gold2);
}

@media (max-width: 360px) {
  .footerSocialMedia { flex-direction: column; }

  .footerSocialMedia > a {
    padding: 5vw;
    font-size: 5vw;
  }

  .footerContent { padding: 10vw; }

  .footerMenu,
  .footerContact { margin-bottom: 10vw; }

  .footerContent h2 {
    font-size: 5vw;
    margin-bottom: 3vw;
  }

  .footerContent li {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .footerCopyright > p {
    padding: 5vw;
    font-size: 4vw;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .footerContent {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .footerContentWrapper {
    display: flex;
    justify-content: center;
    width: 960px;
  }

  .footerContentWrapper > .footerMenu,
  .footerContentWrapper > .footerContact,
  .footerContentWrapper > .footerCreator {
    padding: 40px;
  }
}

/* ### Cookies ### */
#cookies {
  position: fixed;
  z-index: 1;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 20px;
  background-color: var(--black1);
}

#cookies > h2 {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--gold1);
}

#cookies > p {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--gold2);
}

#cookies > button {
  padding: 5px 10px;
  background-color: inherit;
  border: 1px solid var(--gold1);
  color: var(--gold1);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#cookies > button:hover {
  color: var(--black1);
  background-color: var(--gold1);
}

@media (max-width: 360px) {
  #cookies { padding: 10vw; }
  
  #cookies > h2 {
    font-size: 4vw;
    margin-bottom: 5vw;
  }
  
  #cookies > p {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  
  #cookies > button {
    font-size: 4vw;
    padding: 2vw;
  }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  #cookies {
    left: auto;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    width: 500px;
    border: 1px solid var(--gold3);
  }
}

/* ### Our Cars ### */
.ourCars { background-color: var(--black2); }

.ourCarsContent { padding: 20px; }

.ourCarsContent > h2 {
  margin-bottom: 20px;
  color: var(--gold1);
}

.ourCarElement { margin-bottom: 50px; }

.ourCarElement:last-child { margin-bottom: 25px; }

.ourCarElement > img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  margin-bottom: 20px;
}

.ourCarElement > h3 {
  color: var(--gold1);
  margin-bottom: 10px;
}

.ourCarElement > ul { margin-bottom: 20px; }

.ourCarElement > ul > li { color: var(--gold2); }

.ourCarElement > a {
  color: var(--gold1);
  border: 1px solid var(--gold1);
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.ourCarElement > a:hover {
  color: var(--black1);
  background-color: var(--gold1);
}

@media (max-width: 360px) {
  .ourCarsContent { padding: 5vw; }

  .ourCarsContent > h2 {
    margin-bottom: 5vw;
    font-size: 5vw;
  }

  .ourCarElement { margin-bottom: 10vw; }

  .ourCarElement:last-child { margin-bottom: 5vw; }

  .ourCarElement > img {
    height: 60vw;
    margin-bottom: 2vw;
  }

  .ourCarElement > h3 {
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .ourCarElement > ul { margin-bottom: 5vw; }

  .ourCarElement > ul > li { font-size: 5vw; }

  .ourCarElement > a {
    padding: 3vw 6vw;
    font-size: 5vw;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  #ourCarsElements {
    display: flex;
    flex-wrap: wrap;
  }

  .ourCarElement { flex: 50%; }
}

/* Desktop */
@media (min-width: 1024px) {
  .ourCars {
    display: flex;
    justify-content: center;
  }

  .ourCarsContent { width: 960px; }

  #ourCarsElements {
    display: flex;
    flex-wrap: wrap;
  }

  .ourCarElement { flex: 50%; }
}

/* ### Gallery ### */
.gallery { background-color: #000000; }

.galleryContent { padding: 25px; }

.galleryContent > h2 {
  color: #ffd900;
  margin-bottom: 25px;
}

#galleryElements > img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media (max-width: 360px) {
  .galleryContent { padding: 5vw; }

  .galleryContent > h2 {
    font-size: 5vw;
    margin-bottom: 10vw;
  }

  #galleryElements > img {
    width: 100%;
    height: 70vw;
    object-fit: cover;
    border-radius: 2vw;
    margin-bottom: 4vw;
  }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  .galleryContent > h2 { margin: 20px; }

  .gallery {
    display: flex;
    justify-content: center;
  }

  #galleryElements > img {
    width: calc(50% - 42px);
    margin: 20px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .galleryContent { width: 960px; }
}

/* ### Contact ### */

.contact {
  background-image: url('assets/backgrounds/bmw.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.contactContent {
  padding: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.contactContent > h2 { color: #ffd900; }

.contactElement { margin-top: 50px; }

.contactElement > span {
  color: #ffd900;
  font-weight: bold;
  font-size: 50px;
}

.contactElement > h3 {
  color: #ffd900;
  margin-bottom: 10px;
}

.contactElement > p {
  font-weight: bold;
  color: #ffd900;
}

@media (max-width: 360px) {
  .contactContent { padding: 10vw; }
  
  .contactElement { margin-top: 10vw; }
  
  .contactElement > span { font-size: 10vw; }
  
  .contactElement > h3 { margin-bottom: 5vw; }
  
  .contactContent > h2,
  .contactElement > h3,
  .contactElement > p { font-size: 4vw; }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .contactElements {
    display: flex;
    flex-wrap: wrap;
  }

  .contactElement {
    margin: 50px;
    flex: calc(50% - 100px);
  }
}

/* Desktop */
@media (min-width: 1023px) {
  .contactElements {
    display: flex;
    flex-wrap: wrap;
  }

  .contactElement {
    margin: 50px;
    flex: calc(25% - 100px);
  }
}

/* ### Selected Car ### */
.selectedCar { background-color: #000000; }

.selectedCarContent { margin: 20px; }

.selectedCarContent > img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  margin-bottom: 20px;
}

.selectedCarContent h3 {
  color: #ffd900;
  margin-bottom: 20px;
}

.selectedCarContent li {
  color: #b19600;
  margin-bottom: 5px;
}

.selectedCarContent ul { margin: 20px 0px; }

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #b19600;
  margin: 20px 0px;
}

tr { color: #b19600; }

td {
  padding: 10px;
  border: 1px solid #b19600;
}

.selectedCarGallery > img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  margin-bottom: 20px;
}

@media (max-width: 360px) {
  .selectedCarContent { margin: 5vw; }

  .selectedCarContent > img {
    height: 70vw;
    margin-bottom: 5vw;
  }

  .selectedCarContent h3 {
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .selectedCarContent li {
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .selectedCarContent ul { margin: 5vw 0px; }

  table { margin: 5vw 0px; }

  td {  
    padding: 2vw;
    font-size: 5vw;
  }

  .selectedCarGallery > img {
    height: 70vw;
    margin-bottom: 5vw;
    border-radius: 3vw;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .selectedCar {
    display: flex;
    justify-content: center;
  }

  .selectedCarContent { width: 768px; }

  .selectedCarGallery { display: flex; }

  .selectedCarGallery > img { width: 50%; }
}

/* Desktop */
@media (min-width: 1023px) {
  .selectedCar {
    display: flex;
    justify-content: center;
  }

  .selectedCarContent { width: 960px; }

  .selectedCarGallery { display: flex; }

  .selectedCarGallery > img { width: 50%; }
}