/*
  navHeight = 60px
  gold1 = ffd900
  gold2 = b19600
  white1 = ffffff
  white2 = ebebeb
  black1 = 000000
  black2 = 111111
  grey1 = 646464
*/

/* ### Reset ### */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul { list-style-type: none; }

a { text-decoration-line: none; }

/* ### General ### */
body {
  color: #ffffff;
  background-color: #000000;
  font-family: 'Lato', sans-serif;
}

main { margin-top: 60px; }

/* ### Nav ### */
nav {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

#navLogo {
  text-transform: uppercase;
  color: #ffd900;
  font-weight: bold;
  font-size: 20px;
}

#navLogo > span {
  color: #b19600;
  margin-left: 5px;
}

#navLinks {
  transform: translateX(-100vw);
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-y: auto;
  background-color: #ffffff;
}

#navLinks > li {
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
}

#navLinks > li > a { color: #646464; }

#navHamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 19px;
  height: 19px;
}

#navHamburgerTopBar,
#navHamburgerMiddleBar,
#navHamburgerBottomBar {
  height: 3px;
  border-radius: 5px;
  background-color: #ffd900;
}

/* Nav Mobile Animations */
@keyframes navListClose { from { transform: translateX(0vw); } to { transform: translateX(-100vw); } }
@keyframes navHamburgerTopBarClose { from { transform: translateY(8px) rotate(45deg); } to { transform: translateY(0px) rotate(0deg); } }
@keyframes navHamburgerMiddleBarClose { from { transform: translateX(100vw); } to { transform: translateX(0vw); } }
@keyframes navHamburgerBottomBarClose { from { transform: translateY(-8px) rotate(-45deg); } to { transform: translateY(0px) rotate(0deg); } }

@keyframes navListOpen { from { transform: translateX(-100vw); } to { transform: translateX(0vw); } }
@keyframes navHamburgerTopBarOpen { from { transform: translateY(0px) rotate(0deg); } to { transform: translateY(8px) rotate(45deg); } }
@keyframes navHamburgerMiddleBarOpen { from { transform: translateX(0vw); } to { transform: translateX(100vw); } }
@keyframes navHamburgerBottomBarOpen { from { transform: translateY(0px) rotate(0deg); } to { transform: translateY(-8px) rotate(-45deg); } }

@media (max-width: 300px) {
  #navLogo { font-size: 16px; }

  #navLogo > span {
    margin-left: 0px;
    display: block;
  }
}

@media (max-width: 159px) {
  #navLogo { font-size: 8vw; }

  #navLogo > span {
    margin-left: 0px;
    display: block;
  }

  #navLinks > li {
    padding: 5vw;
    font-size: 5vw;
  }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  #navLinks {
    display: flex;
    position: relative;
    top: 0px;
    bottom: 0px;
    background-color: inherit;
    transform: translateX(0px);
  }
  
  #navLinks > li {
    padding: 10px;
    border-bottom: none;
  }
  
  #navLinks > li > a {
    color: #b19600;
    font-weight: bold;
    transition: color 0.25s ease-in-out;
  }
  
  #navLinks > li > a:hover { color: #ffd900; }

  #navHamburger { display: none; }
}

/* Desktop */
@media (min-width: 1024px) {
  nav { justify-content: space-around; }

  #navLogo { font-size: 24px; }
}

/* ### Header ### */
header {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
}

.headerVideo,
.headerSection { position: absolute; }

.headerVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  filter: saturation(5);
}

.headerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 50px 0px;
}

.headerSection > h2,
.headerSection > h3,
.headerSection > a {
  text-align: center;
  color: #ffd900;
  font-size: 16px;
}

.headerSection > h2 { margin-bottom: 10px; }

.headerSection > h3 { margin-bottom: 20px; }

.headerSection > a {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #ffd900;
  font-weight: bold;
}

.headerSection > a:hover {
  background-color: #ffd900;
  color: #000000;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) and (max-height: 300px){
  header { height: calc(800px - 60px); }
}

@media (max-width: 320px) {
  .headerSection { padding: 10vw 0px; }

  .headerSection > h2,
  .headerSection > h3,
  .headerSection > a { font-size: 5vw; }

  .headerSection > h2 { margin-bottom: 2vw; }

  .headerSection > h3 { margin-bottom: 5vw; }

  .headerSection > a {
    border-radius: 2vw;
    border: 1vw solid #ffd900;
    padding: 2vw 5vw;
  }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  header { height: calc(800px - 60px); }

  .headerSection > h2 { font-size: 28px; }

  .headerSection > h3 { font-size: 24px; }
}

/* >>> Why Choose Us <<< */
.whyChooseUs {
  background-image: url('assets/backgrounds/bmw.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.whyChooseUsContent {
  padding: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.whyChooseUsContent > h2 { color: #ffd900; }

.whyChooseUsElement { margin-top: 50px; }

.whyChooseUsElement > span {
  color: #ffd900;
  font-weight: bold;
  font-size: 50px;
}

.whyChooseUsElement > h3 {
  color: #ffd900;
  margin-bottom: 10px;
}

.whyChooseUsElement > p {
  font-weight: bold;
  color: #ffd900;
}

@media (max-width: 360px) {
  .whyChooseUsContent { padding: 10vw; }
  
  .whyChooseUsElement { margin-top: 10vw; }
  
  .whyChooseUsElement > span { font-size: 10vw; }
  
  .whyChooseUsElement > h3 { margin-bottom: 5vw; }
  
  .whyChooseUsContent > h2,
  .whyChooseUsElement > h3,
  .whyChooseUsElement > p { font-size: 4vw; }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .whyChooseUsElements {
    display: flex;
    flex-wrap: wrap;
  }

  .whyChooseUsElement {
    margin: 50px;
    flex: calc(50% - 100px);
  }
}

/* Desktop */
@media (min-width: 1023px) {
  .whyChooseUsElements {
    display: flex;
    flex-wrap: wrap;
  }

  .whyChooseUsElement {
    margin: 50px;
    flex: calc(25% - 100px);
  }
}

/* >>> About us <<< */
.aboutUs {
  padding: 50px;
  background-color: #000000;
}

.aboutUsContent > h3,
.aboutUsContent > p { margin-top: 15px; }

.aboutUsContent > h2,
.aboutUsContent > h3 { color: #ffd900; }

.aboutUsContent > p { color: #b19600; }

@media (max-width: 360px) {
  .aboutUs { padding: 10vw; }

  .aboutUs h2,
  .aboutUs h3,
  .aboutUs p { font-size: 5vw; }

  .aboutUsContent > h3,
  .aboutUsContent > p { margin-top: 5vw; }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  .aboutUs {
    display: flex;
    justify-content: center;
  }

  .aboutUsContent { width: 960px }
}

/* >>> Cooperation And Sponsors <<< */

/* Tablet and Desktop */
@media (min-width: 768px) {
  .cooperationAndSponsors {
    display: flex;
    height: 300px;
  }
}

/* >>> Cooperation <<< */
.cooperation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('assets/backgrounds/car-mechanic.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.cooperationContent {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.cooperationContent > h2 {
  color: #ffd900;
  margin-bottom: 10px;
}

.cooperationContent > ul > li {
  font-weight: bold;
  color: #ffd900;
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 360px) {
  .cooperationContent { padding: 10vw; }
  
  .cooperationContent > h2 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }
  
  .cooperationContent > ul > li {
    margin-top: 2vw;
    font-size: 3vw;
  }
}

/* >>> Sponsors <<< */
.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: #ffd900;
}

.sponsors h2 {
  color: #000000;
  margin-bottom: 10px;
}

.sponsors > ul > li {
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 360px) {
  .sponsors { padding: 10vw; }
  
  .sponsors h2 {
    font-size: 5vw;
    margin-bottom: 2vw;
  }
  
  .sponsors > ul > li {
    margin-top: 2vw;
    font-size: 3vw;
  }
}

/* >>> Footer <<< */
footer { background-color: #000000; }

.footerMap > iframe {
  width: 100%;
  height: 50vh;
  filter: invert(90%);
  margin-bottom: -3px;
}

.footerSocialMedia { display: flex; }

.footerSocialMedia > a {
  flex: 1;
  text-align: center;
  color: white;
  padding: 20px;
  font-weight: bold;
  opacity: 0.75;
  transition: opacity 0.25s ease-in-out;
}

.footerSocialMedia > a:hover { opacity: 1; }

.facebook { background-color: #4267B2; }

.instagram { background-color:  #8a3ab9; }

@media (max-width: 360px) {
  .footerSocialMedia { flex-direction: column; }

  .footerSocialMedia > a {
    padding: 5vw;
    font-size: 5vw;
  }
}

.footerContent { padding: 50px; }

.footerMenu,
.footerContact { margin-bottom: 25px; }

.footerContent h2 {
  color: #ffd900;
  margin-bottom: 10px;
}

.footerContent li {
  color: #b19600;
  margin-bottom: 5px;
}

.footerContent li > span {
  display: block;
  color: #ffd900;
  font-weight: bold;
}

.footerContent a {
  color: #b19600;
  transition: color .5s ease-in-out;
}

.footerContent a:hover { color: #ffd900; }

.footerCopyright > p {
  padding: 20px;
  text-align: center;
  color: #b19600;
}

@media (max-width: 360px) {
  .footerContent { padding: 10vw; }

  .footerMenu,
  .footerContact { margin-bottom: 10vw; }

  .footerContent h2 { font-size: 5vw; }

  .footerContent li {
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  .footerCopyright > p {
    padding: 5vw;
    font-size: 3vw;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .footerContent {
    display: flex;
    justify-content: center;
  }

  .footerContent > * { margin: 0px 20px; }
}

/* ### Our Cars ### */
.ourCarsContent { padding: 25px; }

.ourCarsContent > h2 {
  color: #ffd900;
  margin-bottom: 25px;
}

.car { margin-bottom: 50px; }

.car > img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

.car h3,
.car a { color: #ffd900; }

.car li {
  color: #b19600;
  margin-bottom: 5px;
}

.car ul { margin: 30px 0px; }

.car a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffd900;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.car a:hover {
  background-color: #ffd900;
  color: #000000;
}

@media (max-width: 360px) {
  .ourCarsContent { padding: 5vw; }

  .ourCarsContent > h2 {
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .car { margin-bottom: 20vw; }

  .car > img {
    height: 70vw;
    border-radius: 2vw;
    margin-bottom: 5vw;
  }

  .car h3,
  .car li,
  .car a { font-size: 5vw; }

  .car li { margin-bottom: 4vw; }

  .car ul { margin: 8vw 0px; }

  .car a {
    padding: 3vw;
    border-radius: 3vw;
  }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  .ourCarsContent > h2 { margin: 20px; }

  #ourCarsElements {
    display: flex;
    flex-wrap: wrap;
  }

  .car {
    flex: calc(50% - 40px);
    margin: 20px;
    flex-wrap: wrap;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .ourCars {
    display: flex;
    justify-content: center;
  }

  .ourCarsContent { width: 960px; }
}

/* ### Gallery ### */
.galleryContent { padding: 25px; }

.galleryContent > h2 {
  color: #ffd900;
  margin-bottom: 25px;
}

#galleryElements > img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

@media (max-width: 360px) {
  .galleryContent { padding: 5vw; }

  .galleryContent > h2 {
    font-size: 5vw;
    margin-bottom: 10vw;
  }

  #galleryElements > img {
    width: 100%;
    height: 70vw;
    object-fit: cover;
    border-radius: 2vw;
    margin-bottom: 4vw;
  }
}

/* Tablet and Desktop */
@media (min-width: 768px) {
  .galleryContent > h2 { margin: 20px; }

  .gallery {
    display: flex;
    justify-content: center;
  }

  #galleryElements > img {
    width: calc(50% - 42px);
    margin: 20px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .galleryContent { width: 960px; }
}

/* ### Contact ### */

.contact {
  background-image: url('assets/backgrounds/bmw.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.contactContent {
  padding: 50px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.contactContent > h2 { color: #ffd900; }

.contactElement { margin-top: 50px; }

.contactElement > span {
  color: #ffd900;
  font-weight: bold;
  font-size: 50px;
}

.contactElement > h3 {
  color: #ffd900;
  margin-bottom: 10px;
}

.contactElement > p {
  font-weight: bold;
  color: #ffd900;
}

@media (max-width: 360px) {
  .contactContent { padding: 10vw; }
  
  .contactElement { margin-top: 10vw; }
  
  .contactElement > span { font-size: 10vw; }
  
  .contactElement > h3 { margin-bottom: 5vw; }
  
  .contactContent > h2,
  .contactElement > h3,
  .contactElement > p { font-size: 4vw; }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .contactElements {
    display: flex;
    flex-wrap: wrap;
  }

  .contactElement {
    margin: 50px;
    flex: calc(50% - 100px);
  }
}

/* Desktop */
@media (min-width: 1023px) {
  .contactElements {
    display: flex;
    flex-wrap: wrap;
  }

  .contactElement {
    margin: 50px;
    flex: calc(25% - 100px);
  }
}

/* ### Selected Car ### */
.selectedCarContent { margin: 20px; }

.selectedCarContent > img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 5px;
}

.selectedCarContent h3 {
  color: #ffd900;
  margin-bottom: 20px;
}

.selectedCarContent li {
  color: #b19600;
  margin-bottom: 5px;
}

.selectedCarContent ul { margin: 20px 0px; }

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #b19600;
  margin: 20px 0px;
}

tr { color: #b19600; }

td {
  padding: 10px;
  border: 1px solid #b19600;
}

@media (max-width: 360px) {
  .selectedCarContent { margin: 5vw; }

  .selectedCarContent > img {
    height: 70vw;
    margin-bottom: 5vw;
    border-radius: 3vw;
  }

  .selectedCarContent h3 {
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .selectedCarContent li {
    font-size: 5vw;
    margin-bottom: 5vw;
  }

  .selectedCarContent ul { margin: 5vw 0px; }

  table { margin: 5vw 0px; }

  td {  
    padding: 2vw;
    font-size: 5vw;
  }
}